# Default to EBCDIC unless otherwise specified
*                zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1

# The git attributes and ignore files MUST be ASCII
.gitattributes   zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1
.gitignore       zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1

.git_patch export-subst
charclass_invlists.h linguist-generated
embedvar.h linguist-generated
keywords.c linguist-generated
keywords.h linguist-generated
lib/B/Op_private.pm linguist-generated
lib/feature.pm linguist-generated
lib/unicore/uni_keywords.pl linguist-generated
lib/warnings.pm linguist-generated
feature.h linguist-generated
opcode.h linguist-generated
opnames.h linguist-generated
perly.act linguist-generated
perly.h linguist-generated
perly.tab linguist-generated
pp_proto.h linguist-generated
proto.h linguist-generated
regcharclass.h linguist-generated
uni_keywords.h linguist-generated
warnings.h linguist-generated
*.pl linguist-language=Perl
*.pm linguist-language=Perl
*.t linguist-language=Perl
*.h linguist-language=C
*.fnc linguist-language=Text
